@import '../../scss/variables';

.random {
  margin-top: 55px;
  display: flex;
  .character,
  .try {
    width: 550px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  }
  .character {
    width: 550px;
    padding: 0;
    .wrapper {
      height: 250px;
      padding: 35px 73px 35px 35px;
      display: flex;
      background: var(--content-bg-first);
      justify-content: space-between;
      animation: showCharacter 0.5s ease-in-out;
      &.loading {
        padding: 35px 40px 35px 35px;
        svg rect {
          background-color: var(--skeleton-bg-color);
        }
      }
    }
    img {
      width: 180px;
      object-fit: fill;
      height: 180px;
    }
    .text {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      a {
        text-decoration: none;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
      }
      h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: var(--text-color);
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--text-color);
        flex: 1;
        margin-top: 13px;
      }
      div {
        margin-top: 13px;
        display: flex;
        width: 232px;
        justify-content: space-between;
      }
    }
  }
  .try {
    width: 550px;
    height: 250px;
    color: #fff;
    background: var(--content-bg-second) url('./try.png') no-repeat;
    background-position: bottom 30px right -40px;
    background-size: 205px;
    padding: 35px 35px 32px 40px;
    h2 {
      max-width: 373px;
    }
    h2:last-of-type {
      margin-top: 41px;
    }
    button {
      margin-top: 17px;
    }
  }
}

@keyframes showCharacter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
